<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">

<head th:include="css :: css">

</head>
<style>
    .block-flat .form-group {
        margin: 0 !important;
        padding: 0 !important;
    }

    .bg-red {
        background-color: #FFE4E1 !important;
    }
</style>
<body style="overflow: hidden;opacity: 0">

<div id="cl-wrapper" style="padding-top: 0">
    <div class="container-fluid" id="pcont">
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <form class="form-horizontal group-border-dashed">
                            <div class="form-group">
                                <div class="input-group" style="width: 150px;min-width: 80px;">
                                    <input type="text" class="form-control" placeholder="下单开始时间" id="searchStartTime"/>
                                </div>
                                <div class="input-group" style="width: 150px;min-width: 80px;">
                                    <input type="text" class="form-control" placeholder="下单结束时间" id="searchEndTime"/>
                                </div>
                                <div class="input-group" style="width: 80px;min-width: 80px;">
                                    <input type="text" class="form-control" placeholder="年龄开始"
                                           id="minAge"/>
                                </div>
                                <div class="input-group" style="width: 80px;min-width: 80px;">
                                    <input type="text" class="form-control" placeholder="年龄结束"
                                           id="maxAge"/>
                                </div>
                                <div class="input-group" style="width: 120px;min-width: 80px;">
                                    <select class="form-control" id="searchGender">
                                        <option value="">性别</option>
                                        <option value="MALE">男</option>
                                        <option value="FEMALE">女</option>
                                        <option value="OTHER" shiro:hasPermission="/testOption">其他</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <button class="btn btn-primary" type="button" id="searchMember"><i
                                            class="fa fa-search"></i>搜索
                                    </button>&nbsp;
                                    <button class="btn btn-success" type="button" id="toAddMember"><i
                                            class="fa fa-plus"></i>新增会员
                                    </button>&nbsp;
                                    <button class="btn btn-info" type="button" id="toExport" onclick="download(this)"><i
                                            class="fa fa-download"></i>导出
                                    </button>&nbsp;
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-flat">
                        <div class="content">
                            <div class="table-responsive">
                                <table class="table hover" id="dataTable"  data-detail-view="true">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增会员</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form" id="addForm">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">姓名<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"  placeholder="姓名"
                                       name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">年龄<span
                                    class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"  placeholder="年龄"
                                       name="age">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" name="gender">
                                    <option th:each="gender:${genderEnum}"
                                            th:text="${gender.value}"
                                            th:value="${gender.key}">1
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="addMember">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">修改会员</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form" id="editForm">
                        <input name="id" type="hidden"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="姓名" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">年龄</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" placeholder="年龄" name="age" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="gender">
                                    <option th:each="gender:${genderEnum}"
                                            th:text="${gender.value}"
                                            th:value="${gender.key}">1
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="updateMember">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="pageJs :: pageJs"></div>
<script>

    laydate.render({
        elem: '#searchStartTime',
        type: 'datetime'
    });
    laydate.render({
        elem: '#searchEndTime',
        type: 'datetime'
    });

    $("#addForm").validate({
        rules: {
            name: {
                required: true,
                minlength: 2
            },
            age: {
                required: true,
                min: 0,
                max:150
            }
        }
    });
    $("#editForm").validate({
        rules: {
            name: {
                required: true,
                minlength: 2
            },
            age: {
                required: true,
                min: 0,
                max:150
            }
        }
    });

    $('#dataTable').bootstrapTable({
        url: '/member/list',
        height: $(window).height() - 150,
        pageSize: 30,
        pagination: true,
        pageList: [30, 50, 100],
        clickToSelect: true,
        singleSelect: false,
        sortStable:true,
        queryParams: queryParams,
        uniqueId: 'id',
        queryParamsType: '',
        sidePagination: 'server',
        detailFormatter: function (index, row){
            var str = "<div class='ticket-detail-area'>" ;
            $.ajax({
                type: "GET",
                url: basePath+"/member/queryDetail/"+row.id,
                async: false,
                data: {},
                dataType: "json",
                success: function (data) {
                    var list=data.data;
                    str += "<ul>";
                    for (var i = 0; i < list.length; i++) {
                        str += "<li>"+list[i]+"</li>";
                    }
                    str += "</ul>";
                },
                beforeSend: function () {
                }
            });
            str += "</div>";
            return str;
        },
        rowAttributes: function (row, index) {
            if (row.age===18||row.age==='18') {
                return {class: 'bg-red'};
            } else {
                return "";
            }
        },
        columns: [
            {
                width: '3px',
                align: 'center',
                formatter: function (v, row, index) {
                    return index + 1
                }
            },
            {
              checkbox:true
            },
            {
                width: '40px',
                align: 'center',
                field: 'name',
                title: '姓名'
            }, {
                width: '20px',
                align: 'center',
                field: 'age',
                title: '年龄',
                sortable:true
            }, {
                width: '20px',
                align: 'center',
                field: 'gender',
                title: '性别',
                formatter:function (v,row,index) {
                    return genderEnum[v];
                }
            }, {
                width: '65px',
                align: 'center',
                field: 'createTime',
                title: '创建时间'
            }, {
                align: 'center',
                width: '80px',
                field: 'comment',
                title: '操作',
                formatter: function (v, row, index) {
                    return '<a class="label label-default" href="javascript:void(0)" onclick="toUpdate(' + row.id + ')">修改</a>&nbsp;' +
                        '<a class="label label-danger" href="javascript:void(0)" onclick="deleteMember(' + row.id + ')">删除</a>&nbsp;';
                }
            }
        ],
    });

    $("#toAddMember").click(function () {
        $("#addForm input").val("");
        $("#myModal").modal("show");
    });

    $("#searchMember").click(function () {
        $("#dataTable").bootstrapTable("refresh");
    });

    $("#addMember").click(function () {
        var v = $("#addForm").valid();
        if (!v) {
            return;
        }
        $.ajax({
            type: "GET",
            url: "/member/add",
            data: $("#addForm").serialize(),
            dataType: "json",
            success: function (data) {
                if (data.errorCode === 200) {
                    layer.msg("新增成功");
                    $("#dataTable").bootstrapTable("refresh");
                    $("#myModal").modal("hide");
                } else {
                    layer.msg('新增失败!' + data.errorMsg);
                }
            },
            beforeSend: function () {
            }
        });


    });
    $("#updateMember").click(function () {
        var v = $("#editForm").valid();
        if (!v) {
            return;
        }
        $.ajax({
            type: "GET",
            url: "/member/update",
            data: $("#editForm").serialize(),
            dataType: "json",
            success: function (data) {
                if (data.errorCode === 200) {
                    layer.msg("修改成功");
                    $("#dataTable").bootstrapTable("refresh");
                    $("#myModal2").modal("hide");
                } else {
                    layer.msg('修改失败!' + data.errorMsg);
                }
            },
            beforeSend: function () {
            }
        });
    })

    function queryParams(params) {
        return {
            pageSize: params.pageSize,
            pageNumber: params.pageNumber,
            queryStartTime: $("#searchStartTime").val(),
            queryEndTime: $("#searchEndTime").val(),
            minAge: $("#minAge").val(),
            maxAge: $("#maxAge").val(),
            gender: $("#searchGender").val()
        };
    }

    function deleteMember(id) {

        $.confirm({
            title: '确认!',
            content: '确定要删除这个管理员吗？',
            confirm: function () {

                $.ajax({
                    type: "GET",
                    url: "/member/delete/" + id,
                    data: $("#addForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.errorCode === 200) {
                            layer.msg("删除成功");
                            $("#dataTable").bootstrapTable("refresh");
                        } else {
                            layer.msg('删除失败!' + data.errorMsg);
                        }
                    },
                    beforeSend: function () {
                    }
                });
            },
            cancel: function () {
            }
        });
    }

    function toUpdate(id) {
        var row = $("#dataTable").bootstrapTable("getRowByUniqueId", id);
        $("#editForm").form("load", row);
        $("#myModal2").modal("show");
    }

    function download(obj) {
        var url;
        var rows = $('#dataTable').bootstrapTable("getSelections");

        if(rows==null||rows.length===0){
            var data = {
                queryStartTime: $("#searchStartTime").val(),
                queryEndTime: $("#searchEndTime").val(),
                minAge: $("#minAge").val(),
                maxAge: $("#maxAge").val(),
                gender: $("#searchGender").val()
            };
            url = basePath+'memberDownload/query?' + convertObject(data);
        }else{
            var ids=[];
            for(var i=0;i<rows.length;i++){
                ids.push(rows[i].id);
            }
            url= basePath+'memberDownload/choose?ids='+ids;
        }
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);        // 也可以使用POST方式，根据接口
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.responseType = "blob";    // 返回类型blob
        // 定义请求完成的处理函数，请求前也可以增加加载框/禁用下载按钮逻辑
        xhr.onload = function () {
            console.log(this);
            // 请求完成
            if (this.status === 200) {
                // 返回200
                var blob = this.response;
                var reader = new FileReader();
                reader.readAsDataURL(blob);    // 转换为base64，可以直接放入a表情href
                reader.onload = function (e) {
                    // 转换完成，创建一个a标签用于下载
                    var a = document.createElement('a');
                    a.download = 'data.xls';
                    a.href = e.target.result;
                    $("body").append(a);    // 修复firefox中无法触发click
                    a.click();
                    $(a).remove();
                }
            }
        };
        // 发送ajax请求
        xhr.send();
        $(obj).addClass("disabled");
        setTimeout(function () {
            $(obj).removeClass("disabled");
        }, 3000);
    }

</script>
</body>
</html>
