<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="header">
<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-gear"></span>
            </button>
            <a class="navbar-brand" href="#"><span>template</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="dropdown profile_menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="Avatar" src="images/avatar2.jpg"/>
                        <span id="headUserName">
                            <b shiro:principal=""></b>
                        </span>
                        <img src="/images/state_online.png" alt="Status"/>
                    </a>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right not-nav">
                <li class="button dropdown">
                    <a href="javascript:;" class="dropdown-toggle" id="toUpdatePwd">
                        <i class="fa fa-lock"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>