<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon"  th:href="@{images/favicon.png}">
    <title>Management platform template</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="${session.basePath+'js/bootstrap/dist/css/bootstrap.css'}">
    <link rel="stylesheet" type="text/css" th:href="${session.basePath+'fonts/css/font-awesome.min.css'}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>
    <script th:attr="src=@{/js/html5shiv.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/jquery.gritter/css/jquery.gritter.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/jquery.nanoscroller/nanoscroller.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/jquery.easypiechart/jquery.easy-pie-chart.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/bootstrap.switch/bootstrap-switch.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/jquery.select2/select2.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/bootstrap.slider/css/slider.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/intro.js/introjs.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/bootstrap.table/bootstrap-table.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/jquery.confirm/jquery-confirm.min.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/loading/loading.css'}"/>
    <link rel="stylesheet" type="text/css"   th:href="${session.basePath+'js/jquery.icheck/skins/square/blue.css'}"/>
    <!-- Custom styles for this template -->
    <link  rel="stylesheet" th:href="${session.basePath+'css/style.css'}"/>
    <link  rel="stylesheet" th:href="${session.basePath+'js/drop/basic.min.css'}"/>
    <link  rel="stylesheet" th:href="${session.basePath+'js/drop/dropzone.min.css'}"/>
</head>
</html>