<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="css :: css">
</head>
<style>
    .help-inline {
        position: absolute;
        top: 38px;
        left: 2px;
        color: red;
    }
    #loginHeader{
        text-align: left !important;
        font-size: 18px;
    }
</style>
<body class="texture">
<div id="cl-wrapper" class="login-container">
    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center" id="loginHeader">
                    <img class="logo-img" th:attr="src=@{/images/logo.png}" alt="logo"/>template</h3>
            </div>
            <div>
                <form style="margin-bottom: 0px !important;" class="form-horizontal" id="loginForm">
                    <div class="content">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    <input type="text" placeholder="请输入用户名" name="phoneNo" class="form-control"
                                           maxlength="11" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    <input type="password" placeholder="请输入密码" name="loginPwd" class="form-control"
                                           maxlength="12" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <button class="btn btn-primary" type="button" id="loginBtn">登录</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center out-links">
            <a href="#" id="ipt-test">&copy; 2018 山东鼎信网络科技有限公司</a>
        </div>
    </div>
</div>
<script>
    var parentPath = parent.location.href;
    var path = location.href;
    if (path != parentPath) {
        parent.location.reload(true);
    }
</script>
<div th:include="js :: js"></div>
<script th:attr="src=@{/js/jsencrypt.min.js}"></script>
<script>
    $(document).keyup(function(e){
        var key =  e.which;
        if(key===13){
            $("#loginBtn").click();
        }
    });

    jQuery.validator.addMethod("isNormalPwd", function (value, element) {
        var tel = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
        return this.optional(element) || (tel.test(value));
    }, "请输入6-12位字母数字组合");

    $(function () {
        $(".iCheck").iCheck({          checkboxClass: 'icheckbox_square-blue checkbox',
            radioClass: 'iradio_square-blue'});
        $("#loginForm").validate({
            rules: {
                phoneNo: {
                    required: true,
                    minlength: 2
                },
                loginPwd: {
                    required: true,
                    isNormalPwd: true
                }
            },
            errorClass: "help-inline",
            errorElement: "p",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
            }
        });


        $("#loginBtn").click(function () {
            var v = $("#loginForm").valid();
            if (!v) {
                return;
            }
            var obj = $(this);
            var username = $("input[name=phoneNo]").val();
            var password = $("input[name=loginPwd]").val();
            username = $.trim(username);
            password = $.trim(password);

            $("#loginBtn").attr("disabled", "disabled");
            $.ajax({
                    type: "POST",
                    url: "/getPublicKey",
                    data: {},
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        var keys = data.data;
                        if (keys != null) {
                            var str = password + keys.random_str;
                            var encrypt = new JSEncrypt();
                            encrypt.setPublicKey(keys.public_key);
                            var resetPassword = encrypt.encrypt(str);
                            $.ajax({
                                    type: "POST",
                                    url: "/signIn",
                                    async: false,
                                    data: {
                                        phoneNo: username,
                                        loginPwd: encodeURIComponent(resetPassword)
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        obj.removeAttr("disabled");
                                        if (data.errorCode === 200) {
                                            window.location.href = "/";
                                        } else {
                                            layer.msg("登录失败！"+ data.errorMsg);
                                        }
                                    },
                                    error: function () {
                                        obj.removeAttr("disabled");
                                    }
                                }
                            );
                        } else {
                            layer.msg("获取公钥失败！");
                        }
                    }
                }
            );
        })
    })
</script>
</body>
</html>